<!DOCTYPE html>
<html ng-app="HC_App" ng-controller="HC_Ctrl">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta http-equiv="Cache-Control" content="no-store, max-age=0" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link href="../css/lib/bootstrap.min.css" rel="stylesheet">
  <link href="../css/common.css" rel="stylesheet">
  <script src="../js/lib/jquery-3.3.1.min.js"></script>
  <script src="../js/lib/popper.min.js"></script>
  <script src="../js/lib/bootstrap.min.js"></script>
  <script src="../js/lib/angular.min.js"></script>
  <script src="../js/message.js"></script>
  <script src="../js/common.js"></script>
  <script src="../js/Passwd.js"></script>
  <title>Augentix</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        <div class="row">
          <div class="thumbnail"><img src="../img/Augentix_Logo_270x42-04.png" style="width:60%"></div>
          <div class="col-sm-8"></div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid text-center" ng-cloak="">
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p ng-hide="x.hide" ng-repeat="x in LMenu"><a href="{{x.href}}" target="_self">{{x.txt[lang]}}</a></p>
      </div>
      <div class="col-sm-8 text-left">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
              </ul>
            </nav>
          </div>
        </nav>
        <div>
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"></div>
            <div class="panel-body"></div>
            <form ng-submit="sendData()">
              <table>
                <tr height="50">
                  <td width="200">{{msg_t.New_username[lang]}}</td>
                  <td><input maxlength="32" ng-model="UserCfg.name" pattern="[A-Za-z0-9\x5F]{1,32}" title=
                  "{{msg_t.username_title[lang]}}" type="text"></td>
                </tr>
                <tr>
                  <td width="200">{{msg_t.New_password[lang]}}</td>
                  <td><input maxlength="32" ng-model="UserCfg.pass" pattern=
                  "[A-Za-z0-9\x20\x21\x22\x23\x24\x25\x26\x28\x29\x2A\x2B\x2C\x2D\x2E\x2F\x3A\x3B\x3C\x3D\x3E\x3F\x40\x5B\x5C\x5D\x5E\x5F\x60\x7B\x7C\x7D\x7E]{1,32}"
                  title="{{msg_t.password_title[lang]}}" type="password"></td>
                </tr>
              </table><input class="btn btn-info" type="submit" value="{{msg_t.Apply[lang]}}">
            </form>
            <p>{{cmdStatus}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
